/* 
Production level projelerde Css/Scss değişkenleri ile çalışmak genellikle en iyi uygulamadır.
Bu case study'de sadece örnek olması niteliğinde renkler üzerinden değişkenler ile çalışılmıştır.
 */

:root {
  --color-primary: #247ec5;
  --color-secondary: #221e20;
  --color-light-grey: #f2f4f6;
  --color-grey: #e4e9ee;
  --color-dark-grey: #505050;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-green: #46c470;
  --color-yellow: #e4cd03;
  --color-light-blue: #dfebf6;
  --color-blue-grey: #839bad;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-light-grey);
  font: 14px "Roboto", "Helvetica Neue", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a,
a:active,
a:hover {
  text-decoration: none;
}

a {
  cursor: pointer;
  color: var(--color-primary);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.bg-white {
  background-color: var(--color-white);
}

.shadow-sm {
  box-shadow: 0 0 4px #00000025;
}

.py-2 {
  padding: 1rem 0;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 1rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 4.5rem;
  z-index: 999;
}

.header__content-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header-left {
  position: relative;
}

.header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-right > a {
  color: var(--color-secondary);
}

.header-right__login,
.header-right__register {
  margin-right: 0.75rem;
}

.header-right > a > span {
  font-size: 28px;
}

.header-right__search-icon {
  display: none;
  color: var(--color-secondary);
  width: 40px;
  height: 40px;
}

.header-right__icon {
  color: var(--color-secondary);
  width: 40px;
  height: 40px;
}

.header-right__icon > span {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-right__search-icon > span {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-center {
  flex: 1;
  display: flex;
  width: 100%;
  padding: 0 1rem;
}

.search-form {
  width: 90%;
  background-color: var(--color-light-grey);
  position: relative;
  height: 42px;
  border-radius: 6px;
}

.search-form__search-cta {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 62px;
  height: 40px;
  border-radius: 0 4px 4px 0;
  padding: 0;
}

.search-form__search-cta:hover {
  background-color: var(--color-light-blue);
}

.search-form__search-icon > span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 40px;
}

.search-form > input {
  appearance: none;
  -webkit-appearance: none;
  padding: 10px 61px 10px 15px;
  height: 42px;
  border: solid 1px var(--color-grey);
  border-radius: 6px;
  font-size: 16px;
  line-height: 22px;
}

.search-input {
  width: 100%;
  border: none;
  background-color: transparent;
}

.header__brand-logo {
  position: relative;
  width: 107px;
  height: 27px;
  margin-right: 20px;
}

.header__category-cta {
  background-color: var(--color-primary);
  padding: 9px 10px;
  border-radius: 6px;
}

.header__category-cta__content {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
}

.header__category-cta__content--mobile {
  display: none;
}

.main {
  padding: 4.5rem 1rem 0 1rem;
  max-width: 1200px;
  margin: 0 auto 3rem;
}

.breadcrumb-outer-container {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  min-width: 300px;
  max-width: 1200px;
  margin-top: 1rem;
}

.breadcrumb-container {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.breadcrumb-container > a:first-child > span {
  color: #999999;
}

.breadcrumb-container > a {
  position: relative;
  margin-right: 0.5rem;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
}

.breadcrumb-container > a:not(:last-child)::after {
  content: ">";
  margin-left: 0.5rem;
  color: black;
}

.product-details__container {
  border-radius: 12px;
  background-color: var(--color-white);
  display: flex;
  padding: 1.5rem;
  box-shadow: 0 0 4px #00000007;
  gap: 2rem;
}

.product-details__left {
  flex: 4;
  flex-shrink: 0;
}

.product-details__left-image-container {
  background-color: #e9f1f8;
  padding: 6rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  position: relative;
  box-shadow: 0 0 4px #00000010;
  margin-bottom: 1rem;
}

.product-details__left-image__view-count {
  position: absolute;
  top: 3rem;
  left: 0;
  background-color: var(--color-blue-grey);
  padding: 0.5rem 0.75rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.product-details__left-image__view-count > span {
  color: #ececec;
}

.product-details__left-image {
  width: 16rem;
}

.product-details__left-image-navigation {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translate(0, -50%);
}

.product-details__left-image-navigation > button > span {
  display: inline-block;
  color: var(--color-primary);
  font-size: 32px;
  padding: 0 0.5rem;
}

.product-details__left-image-bullets {
  display: none;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%, 0);

  width: 100%;
}

.product-details__left-image-cta {
  background-color: #fcfafa;
  border-radius: 50%;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 1.5rem;
  box-shadow: 0 0 4px #00000010;
}

.product-details__left-image-cta > span {
  color: var(--color-primary);
  font-size: 32px;
}

.product-details__left-image-bell {
  left: 1.25rem;
}

.product-details__left-image-compare {
  right: 1.25rem;
}

.product-details__left-image__thumbnails-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.product-details__left-image__thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.75rem;
  height: 3rem;
  padding: 0.35rem;
  border: 1px solid #d1e1ee;
  border-radius: 6px;
  margin-right: 0.5rem;
}

.product-details__left-image__thumbnail > img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.product-details__left-image__thumbnail--active {
  border-color: var(--color-primary);
}

.product-details__left-image__thumbnail-next {
  width: 1.5rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid #f0f0f0;
  box-shadow: 0 0 3px #00000007;
  border-radius: 2px;
}

.product-details__left-image__thumbnail-next > span {
  color: #679cc4;
}

.product-details__left-image__option-container > p {
  color: var(--color-primary);
  margin-bottom: 0.5rem;
}

.product-details__left-image__option-container > div > button:first-of-type {
  margin-right: 1rem;
}

.product-details__left-image__option {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.75rem;
  background-color: #e9f1f8;
  border-radius: 6px;
  border: 1px solid transparent;
}

.product-details__left-image__option > img {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

.product-details__left-image__option > span {
  font-weight: bold;
  color: var(--color-primary);
}

.product-details__left-image__option--active {
  border-color: #679cc4;
}

.product-details__right {
  flex: 8;
}

.product-details__right-title-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.product-details__right-title {
  font-weight: bold;
  color: var(--color-primary);
  font-size: 24px;
  margin-bottom: 1rem;
}

.product-details__right-subtitle {
  display: flex;
  align-items: center;
}

.product-details__right-subtitle > span:not(:last-of-type) {
  margin-right: 0.5rem;
}

.product-details__right-subtitle__medal {
  color: var(--color-green);
}

.product-details__right-subtitle__tag {
  padding: 0.5rem 0.75rem;
  background-color: var(--color-green);
  color: white;
  border-radius: 6px;
}

.product-details__right-rating-user__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.product-details__right-rating__container {
  display: flex;
  align-items: center;
}

.product-details__right-rating__number {
  font-weight: bold;
  font-size: 18px;
  margin-right: 0.25rem;
}

.product-details__right-rating__container > a,
.product-details__right-user-photos__container > a {
  text-decoration: underline;
  font-size: 16px;
  color: var(--color-dark-grey);
}

.product-details__right-rating {
  display: flex;
  align-items: flex-end;
  color: var(--color-yellow);
  margin-right: 1rem;
}

.product-details__right-rating {
  font-size: 16px;
}

.product-details__right-user-photos__container {
  display: flex;
  align-items: center;
}

.product-details__right-user-photos__container > a {
  margin-right: 0.5rem;
}

.product-details__right-user-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 2rem;
  height: 2rem;
  border: 1px solid #c4c4c4;
}

.product-details__right-user-photo:not(:last-of-type) {
  margin-right: 0.5rem;
}

.product-details__right-cheapest-banner__outer-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.product-details__right-cheapest-banner__container {
  border-radius: 12px;
  background-color: var(--color-primary);
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  box-shadow: 0 0 4px 0 #00000025;
}

.product-details__right-cheapest-banner__right-cheapest-seller {
  display: flex;
  align-items: flex-end;
  margin-bottom: 0.5rem;
}

.product-details__right-cheapest-banner__right-cheapest-seller > span {
  color: var(--color-white);
}
.product-details__right-cheapest-banner__right-cheapest-seller > img {
  width: 6rem;
  height: 1.5rem;
  object-fit: contain;
}

.product-details__right-cheapest-banner__right-container > a {
  background-color: var(--color-white);
  padding: 0.5rem 1rem;
  border-radius: 6px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 10px 0 #00000045;
}

.product-details__right-cheapest-banner__right-container > a > span {
  font-size: 20px;
  font-weight: 500;
}

.product-details__right-cheapest-banner__right__cta-text {
  margin-left: 0.5rem;
}

.product-details__right-cheapest-banner__left-container > p {
  color: var(--color-white);
}

.product-details__right-cheapest-banner__left-container > p:not(:last-of-type) {
  margin-bottom: 0.5rem;
}

.product-details__right-cheapest-banner__left-price {
  font-size: 20px;
}

.product-details__right-cheapest-banner__left-price > span {
  font-size: 16px;
}

.product-details__right-cheapest-banner__eta {
  color: var(--color-primary);
  text-align: end;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  overflow: hidden;
}

.tabs [class^="tab"] label,
.tabs [class*=" tab"] label {
  color: var(--color-primary);
  cursor: pointer;
  display: block;
  font-size: 18px;
  font-weight: 500;
  line-height: 1rem;
  padding: 1rem 0;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.tabs [class^="tab"] [type="radio"],
.tabs [class*=" tab"] [type="radio"] {
  border-bottom: 3px solid #e0e9f0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
}

.tabs [class^="tab"] [type="radio"]:focus,
.tabs [class*=" tab"] [type="radio"]:focus {
  border-bottom: 3px solid var(--color-primary);
}

.tabs [class^="tab"] [type="radio"]:checked,
.tabs [class*=" tab"] [type="radio"]:checked {
  border-bottom: 3px solid var(--color-primary);
}

.tabs [class^="tab"] [type="radio"]:checked + div,
.tabs [class*=" tab"] [type="radio"]:checked + div {
  opacity: 1;
}

.tabs [class^="tab"] [type="radio"] + div,
.tabs [class*=" tab"] [type="radio"] + div {
  display: block;
  opacity: 0;
  padding: 1rem 0.5rem;
  width: 90%;
}

.tabs .tab-2 {
  width: 33.3333%;
}

.tabs .tab-2 [type="radio"] + div {
  width: 300%;
  margin-left: 300%;
}

.tabs .tab-2:nth-child(1) [type="radio"]:checked + div {
  margin-left: 0;
}

.tabs .tab-2:nth-child(2) [type="radio"]:checked + div {
  margin-left: -100%;
}

.tabs .tab-2:nth-child(3) [type="radio"]:checked + div {
  margin-left: -200%;
}

.tab-offers__container {
  margin-bottom: 1rem;
}

.tab-offers__container > a:not(:last-of-type) {
  margin-bottom: 1rem;
}

.tab-offers__last-updated {
  text-align: end;
  margin-bottom: 1rem;
}
.tab-offer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1.5rem;
  background-color: var(--color-white);
  border-radius: 10px;
  box-shadow: 0 0 8px 0 #00000025;
}

.tab-offer > img {
  height: 1.5rem;
  object-fit: contain;
}

.tab-offer > p {
  color: var(--color-secondary);
}

.tab-offer .material-icons {
  color: var(--color-primary);
  font-size: 18px;
}

.tab-offers__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-offers__pagination-item > a {
  padding: 0.25rem 0.5rem;
  border-radius: 6px;
  border: 1px solid #d7e7f3;
  margin-right: 0.5rem;
  color: #7c7c7c;
  font-size: 16px;
}

.tab-offers__pagination-item--active > a {
  border-color: var(--color-primary);
  color: var(--color-secondary);
}

.tab-offers__pagination-item > button {
  padding: 0.25rem;
  border-radius: 4px;
  box-shadow: 0 0 3px 0 #00000025;
}

.tab-product-specs {
  display: grid !important;
  column-gap: 1.5rem;
  row-gap: 1rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.product-specs__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.25rem;
  border-bottom: 2px solid #e6e6e6;
}

.product-specs__item-text {
  font-size: 16px;
}

.product-specs__item-value {
  color: var(--color-primary);
  font-weight: 600;
  text-align: end;
}

.product-specs__item > .material-icons {
  color: var(--color-green);
}

.product-specs__container {
  display: none;
}

.product-specs__container > h3,
.product-offers__container > h3 {
  margin-bottom: 1rem;
  font-size: 20px;
}

.tab-offers__title > h3 {
  font-size: 20px;
}

.product-specs__container-mobile-cta {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-specs__container-mobile-cta > button {
  color: var(--color-primary);
  text-decoration: underline;
}

.product-offers__container {
  display: none;
}

@media (max-width: 991px) {
  .header-right > .header-right__register {
    display: none;
  }

  .product-details__container {
    flex-direction: column;
  }

  .product-details__right-rating-user__container {
    flex-direction: column;
    align-items: flex-start;
  }

  .product-details__right-rating__container {
    margin-bottom: 0.5rem;
  }

  .product-details__right-user-photos__container {
    flex-direction: row-reverse;
  }

  .product-details__right-user-photos__container > a {
    margin-left: 0.5rem;
  }

  .tabs [class^="tab"] label,
  .tabs [class*=" tab"] label {
    font-size: 16px;
  }

  .tab-product-specs {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  .search-form {
    display: none;
  }

  .header-center {
    width: 0;
    flex: 0;
    padding: 0;
  }

  .header-right {
    flex: 1;
    width: 100%;
  }

  .header-right__search-icon {
    display: flex;
  }

  .header-right > .header-right__login {
    display: none;
  }

  .header-left {
    flex: 1;
    width: 100%;
  }

  .header__brand-logo {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 576px) {
  body {
    background-color: var(--color-white);
  }
  .main {
    padding: 4.5rem 0 0 0;
    margin: 0 auto 9rem;
  }

  .header__category-cta {
    background-color: transparent;
  }

  .header__category-cta__content {
    display: none;
  }

  .header__category-cta__content--mobile {
    display: flex;
  }

  .product-details__container {
    border-radius: 0;
    padding: 0;
    gap: 2rem;
  }

  .product-details__right-rating-user__container {
    padding: 0 1rem;
  }

  .tabs {
    display: none;
  }

  .tab-offer {
    padding: 0.75rem 1rem;
  }

  .product-details__left-image-container {
    background-color: #e9f1f8;
    padding: 6rem 1rem;
    display: flex;
    border-radius: 0;
    position: relative;
    box-shadow: none;
    margin-bottom: 0;
  }

  .product-details__left-image__thumbnails-container,
  .product-details__left-image__option-container {
    display: none;
  }

  .product-details__left-image-bullets {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .product-details__left-image-bullets > button {
    width: 0.75rem;
    height: 0.75rem;
    background-color: #aec6d8;
    border-radius: 1.5rem;
    transform: scale(0.6);
  }

  .product-details__left-image-bullets > button:first-of-type {
    background-color: var(--color-primary);
  }

  .product-details__left-image-bell {
    display: none;
  }

  .product-details__right-subtitle {
    margin-bottom: 0.5rem;
  }

  .product-details__right-title-container {
    flex-direction: column-reverse;
    padding: 0 1rem;
  }

  .product-details__right-cheapest-banner__outer-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: column-reverse;
    margin-bottom: 0;
  }

  .product-details__right-cheapest-banner__container {
    margin-bottom: 0;
    border-radius: 0;
  }

  .product-details__right-cheapest-banner__eta {
    text-align: center;
    background-color: #19629990;
    padding: 0.5rem 0;
    color: var(--color-white);
  }

  .product-details__right-cheapest-banner__left-price,
  .product-details__right-offer__-price {
    font-size: 16px;
  }

  .product-details__right-cheapest-banner__left-update,
  .product-details__right-cheapest-banner__left-ship {
    font-size: 13px;
  }

  .product-details__right-cheapest-banner__right-cheapest-seller > img {
    width: 4.5rem;
  }

  .product-details__right-cheapest-banner__right-container > a {
    padding: 0.5rem;
  }

  .product-details__right-cheapest-banner__right-container > a > span {
    font-size: 16px;
    font-weight: 500;
  }

  .product-details__right-cheapest-banner__left-price > span,
  .product-details__right-offer__-price > span {
    font-size: 14px;
  }

  .product-details__right-offer__-price {
    text-align: end;
  }

  .product-details__right-rating__container > a > span,
  .product-details__right-user-photos__container > a > span {
    font-size: 14px;
  }
  .product-specs__container {
    display: block;
    background-color: #e9f1f8;
    margin-bottom: 3rem;
    padding: 1rem;
  }

  .product-offers__container {
    display: block;
    background-color: #e9f1f8;
    padding: 1rem;
  }

  .tab-offers__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
}

@media (max-width: 475px) {
  .header-left {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .header__brand-logo {
    position: relative;
    top: unset;
    left: unset;
    transform: none;
  }
}

@media (max-width: 375px) {
  .header-right__notification {
    display: none;
    width: 0;
  }
}
